:root {
  --normal-key-width: 3rem;
  --normal-key-height: 3rem;
  --common-padding: 0.75rem;
  --sentence-font-size: 1.25rem;
  --key-font-size: 0.5rem;
  --key-base-color: #e4dfd7;
  --key-dark-color: #787878;
}

body {
  padding: var(--common-padding);
  height: 80vh;
  margin: 100px;
}

h3 {
  margin-bottom: 0.25rem;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

.typing {
  width: 50rem;
  margin: auto;
}

#sentence {
  width: 100%;
  padding: var(--common-padding);
  border: 2px solid var(--key-dark-color);
  border-radius: 10px;
  font-size: var(--sentence-font-size);
}

#input {
  width: 100%;
  padding: var(--common-padding);
  margin: auto;
  border: 1px solid var(--key-dark-color);
  border-radius: 10px;
  font-size: var(--sentence-font-size);
}

.keyboard {
  width: calc(var(--normal-key-width) * 16.5);
  margin: 0 auto;
}

.lines {
  width: calc(var(--normal-key-width) * 16.5);
  margin: 0 auto;
  background-color: var(--key-base-color);
  padding: 1rem;
  border-radius: 5px;
}

.line {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.row-keys {
  display: flex;
  flex-direction: row;
}

.key {
  border: 0.1rem solid black;
  border-radius: 10%;
  box-sizing: border-box;
  padding: 0.5rem;
  text-align: center;
  font-size: var(--key-font-size);
  width: var(--normal-key-width);
  height: var(--normal-key-height);
  background-color: var(--key-base-color);
}

.key.active {
  background-color: pink;
}

.dark {
  background-color: var(--key-dark-color);
}

#Insert,
#Delete {
  margin-left: calc(var(--normal-key-width) / 2);
}

/* 8U */
#Space {
  width: calc(var(--normal-key-width) * 6);
}

/* 2.25U */
#Enter,
#ShiftLeft,
#ShiftRight {
  width: calc(var(--normal-key-width) * 2.25);
}

/* 2U */
#Backspace {
  width: calc(var(--normal-key-width) * 2);
}

/* 1.75U */
#CapsLock {
  width: calc(var(--normal-key-width) * 1.75);
}

/* 1.5U */
#Tab,
#Backslash {
  width: calc(var(--normal-key-width) * 1.5);
}

/* 1.25U */
#ControlLeft,
#MetaLeft,
#AltLeft,
#AltRight,
#ControlRight,
#Function {
  width: calc(var(--normal-key-width) * 1.25);
}
