:root {
  --normal-key-width: 3rem;
  --normal-key-height: 3rem;
  --common-padding: 0.75rem;
  --sentence-font-size: 1.25rem;
  --key-font-size: 0.5rem;
  --key-base-color: #e4dfd7;
  --key-dark-color: #787878;
  --background-dark: rgba(0, 0, 0, 0.9);
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 0 var(--common-padding);
  height: 80vh;
  margin-top: 4rem;
}

.title {
  margin: 1rem 0 0.5rem 0;
  font-size: calc(var(--sentence-font-size) * 1.5);
}

textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

.modal {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__overlay {
  background-color: var(--background-dark);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.modal__content {
  /* background-color: var(--background-dark); */
  color: var(--key-base-color);
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__content .title {
  font-size: calc(var(--sentence-font-size) * 2.5);
}

.modal.hidden {
  display: none;
}

.description {
  font-size: 1rem;
  margin-top: 0.5rem;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.typing {
  width: 50rem;
  margin: auto;
}

#sentence {
  width: 100%;
  padding: var(--common-padding);
  border: 2px solid var(--key-dark-color);
  border-radius: 10px;
  font-size: var(--sentence-font-size);
}

#input {
  width: 100%;
  padding: var(--common-padding);
  margin: auto;
  border: 1px solid var(--key-dark-color);
  border-radius: 10px;
  font-size: var(--sentence-font-size);
  overflow: hidden;
}

.keyboard {
  width: calc(var(--normal-key-width) * 16.5);
  margin: 0 auto;
}

.lines {
  width: calc(var(--normal-key-width) * 16.5);
  margin: 0 auto;
  background-color: var(--key-base-color);
  padding: 1rem;
  border-radius: 5px;
}

.line {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.row-keys {
  display: flex;
  flex-direction: row;
}

.key {
  border: 0.1rem solid black;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5rem;
  text-align: center;
  font-size: var(--key-font-size);
  width: var(--normal-key-width);
  height: var(--normal-key-height);
  background-color: var(--key-base-color);
}

.key.active {
  background-color: pink;
}

.dark {
  background-color: var(--key-dark-color);
}

#Insert,
#Delete {
  margin-left: calc(var(--normal-key-width) / 2);
}

/* 8U */
#Space {
  width: calc(var(--normal-key-width) * 6);
}

/* 2.25U */
#Enter,
#ShiftLeft,
#ShiftRight {
  width: calc(var(--normal-key-width) * 2.25);
}

/* 2U */
#Backspace {
  width: calc(var(--normal-key-width) * 2);
}

/* 1.75U */
#CapsLock {
  width: calc(var(--normal-key-width) * 1.75);
}

/* 1.5U */
#Tab,
#Backslash {
  width: calc(var(--normal-key-width) * 1.5);
}

/* 1.25U */
#ControlLeft,
#MetaLeft,
#AltLeft,
#AltRight,
#ControlRight,
#Function {
  width: calc(var(--normal-key-width) * 1.25);
}
